.cart-total{
    font-size: 16px;
    .card{
        .flex-info-row{
            padding: 0.4em 0;
        }
        .total-amount{
            font-size: 17px;
            font-weight: 600;
            margin-top: 0.5em;
            border-top: 1px dashed #ddd;
            border-bottom: 1px dashed #ddd;
            margin-bottom: 1em;
        }
    }
}