<div class="row" >
    <div class="product-item " [ngClass]="{'col-md-6 col-sm-6 col-12': gridView, 'col-12': !gridView}"
        *ngFor="let item of data">
        <div class="card">
            <span class="type">Test</span>
            <h6>{{item.item_name}}</h6>
            <p class="text-gray">
                &#9432; Fasting is <span *ngIf="item.fasting == 0">not</span> required 
                <span *ngIf="item.fasting>0">for {{item.fasting}} hours before test.</span>
            </p>
            <div class="product-item-footer">
                <span><b>&#x20B9; {{item.price}}</b></span>
                <button class="btn btn-sm btn-outline-primary" *ngIf="!item.cart_item_id && !cartView"
                    (click)="addToCart(item.item_id)">Add to Cart</button>
                <a class="btn btn-sm btn-success" *ngIf="item.cart_item_id && !cartView"
                    [routerLink]="['/cart']">Go to Cart</a>
                <button class="btn btn-sm btn-outline-danger" *ngIf="cartView"
                    (click)="removeFromCart(item.item_id)">Remove</button>
            </div>
        </div>
    </div>
</div>